body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hide {
	display: none;
}

.show-block {
	display: block;
}

.show-inline {
	display: inline-block;
}

#header {
	background-color: green;
	padding: 1px;
	color: white;
}

#fileHeader {
	padding-top: 20px;
}

#fileNameHeader, 
#fileSizeHeader, 
#fileLastModHeader,
#addFolder, 
#addFile {
	display: inline-block;
}

#addFolder, #addFile {
	cursor: pointer;
	background-color: orange;
	width: 80px;
	color: white;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 10px;
	text-align: center;
	border-radius: 10px;
	padding: 2px;
}

#fileNameHeader {
	width: 60%;
}

#fileSizeHeader {
	width: 10%;
}

#fileLastModHeader {
	width: 20%;
}

