body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hide {
	display: none;
}

.show-block {
	display: block;
}

.show-inline {
	display: inline-block;
}

#header {
	background-color: green;
	padding: 1px;
	color: white;
}

#fileHeader {
	padding-top: 20px;
	background-color: gray;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 10px;
}

#fileNameHeader, 
#fileSizeHeader, 
#fileLastModHeader,
#addFolder, 
#addFile,
.fileName,
.fileSize,
.fileLastMod {
	display: inline-block;
}

#addFolder, #addFile {
	cursor: pointer;
	background-color: orange;
	width: 80px;
	color: white;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 10px;
	text-align: center;
	border-radius: 10px;
	padding: 2px;
}

#fileNameHeader,
.fileName {
	width: 60%;
}

#fileSizeHeader,
.fileSize {
	width: 10%;
}

#fileLastModHeader,
.fileLastMod {
	width: 20%;
}

.fileRow {
	padding: 10px;
	border-top: 1px solid gray;
}

.addNestedFolder {
	background-color: gray;
	padding: 2px;
	border-radius: 2px;
	font-size: .7em;
	cursor: pointer;
}

.addNestedFolderDiv {
	margin-top: 10px;
}

